<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bulma.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="navbar">
    <div class="container nav-container">
        <a href="/blog" id="nav-link"><span>&#8249;</span> Back to the blog</a>
    </div>
</div>
    </div>
        <div class="section is-micro">
            <div class="container post-card">
                <div class="card blogpost-card">
                    <header class="card-header">
                        <p class="card-header-title subtitle card-center-title">
                            <%= selectedPost.blogTitle %>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                <%= selectedPost.blogContent %>
                            </p>
                            <p>
                                Skrevet af:
                                <strong><%= selectedPost.blogUser %></strong>
                                <%= selectedPost.blogCreated.toLocaleString() %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section is-micro">
        <% selectedPost.blogComments.forEach(function(comment){  %>
            <div class="container post-card">
                <div class="card comment-card">
                    <header class="card-header">
                        <p class="card-header-title subtitle card-center-title">
                            <%= comment.commentTitle %>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                <%= comment.commentContent %>
                            </p>
                            <p>
                                Written by:
                                <strong><%= comment.commentUser %></strong>
                                    <%= comment.commentCreated.toLocaleString() %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
            </div>

            <div class="section is-micro">

        <div class="container post-card">
            <div class="card create-card">
                <header class="card-header">
                    <p class="card-header-title title card-center-title">Post a comment</p>
                </header>
                <div class="card-content" id="comment-section">
                    <div class="content">
                        <form action=<%="/post/" + idParam %> method="post">
                        <% for(var i in messages) { %>
                            <div class="notification is-danger">
                                <%= messages[i] %>
                            </div>
                            <% } %>
                                <div>
                                    <label>Post Title:</label>
                                    <input type="text" name="commentTitle" class="input is-rounded" required/>
                                </div>
                                <div>
                                    <label>Post Content:</label>
                                    <textarea name="commentContent" class="input input-textarea" required></textarea>
                                </div>
                                <div>
                                    <input type="submit" value="Create Post" class="button is-primary is-rounded input-button" />
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>